@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('./fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
.icon-large {
  transform: scale(1.5);
  /* Adjust size as needed */
  /* or use transform: scale(1.5); */
}
.App {
  background-color: #282828;
  color: white;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.appLayout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.sidebar {
  position:relative;
  overflow-x: hidden !important;
  flex-shrink: 0;
  background-color: #20222C;
  height: 100%;
  width: 440px;
  overflow: auto;
  user-select: none;
}
.sidebar-header{
  position:sticky;
  top:0;
  z-index: 100;
}
.sidebar-content {
  height: calc(100vh - 40px);
  /* Adjust the height based on your sidebar-header's height */
}
.mainArea {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.buttonContainer {
  padding-top: 20px;
  z-index: 100;
}
/* Additional styles for the tree nodes if needed */
.treeNode {
  margin-left: 10px;
  margin-bottom:2px;
  cursor: pointer;
  padding-left: 25px;
  display: flex;
  align-items: left;
  width: auto;
  white-space: nowrap;
  /* Add this if you want to align the icons with the text vertically */
}
/* Styles for the main title */
.appName {
  font-weight: bold;
  font-size: 2rem;
  height:60px; /* Add more Neumorphic styles here */
}
h1 {
  font-weight: bold;
  font-size: 2rem;
  /* Add more Neumorphic styles here */
}
.treeContainer{
  position:relative;
}

.resize-handle {
  width: 10px;
  /* Make it a bit wider to ensure it's easily grabbable */
  height: 100%;
  position:fixed;
  margin-left: 10px;
  background-color: #666;
  /* Use a darker color for visibility */
  position: absolute;
  top: 0;
  right: -5px;
  /* Half of the width to make some of it "stick out" */
  cursor: ew-resize;
  z-index: 100;
  /* Ensure it's above other elements */
}
/* Font Awesome icons */
.treeNode i.fa {
  font-size: 14px;
  /* Smaller size */
  margin-right: 5px;
  /* Margin between icon and text */
}
/* Highlight selected folder/file */
.treeNode.selected {
  background-color: rgb(46, 46, 46);
}
/* Hide text selection highlight */
.treeNode::selection {
  background: transparent;
}
/* elements styling dark neumorphism */
.button{
  margin-top: 20px; 
  margin-left: 30px;
  margin-bottom:20px;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 0px solid rgba(32, 34, 44, 0.30);
  background: linear-gradient(180deg, #3B3D4B 0%, #272934 100%);
  box-shadow: 8px 8px 15px 0px #14151D, -6px -6px 15px 0px #303240;
  transition: all 300ms ease-in-out;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}
.button:not(.button-toggled):hover {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 5px;
  /* border: 2px solid rgba(32, 34, 44, 0.30); */
  background: linear-gradient(180deg, #1a441d 0%, #0a9a16 100%);
  box-shadow: 4px 4px 7.5px 0px #14151D, -3px -3px 7.5px 0px #303240;
  transition: all 400ms ease-in-out;
}
.button:active {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 2px solid #FFD739;
  background: linear-gradient(180deg, #B97208 0%, #FFD800 100%);
  box-shadow: 8px 8px 15px 0px #14151D, -6px -6px 15px 0px #303240;
  color: #20222C;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: all 300ms ease-in-out;
}
.button-toggled{
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 2px solid #FFD739;
  background: linear-gradient(180deg, #B97208 0%, #FFD800 100%);
  box-shadow: 8px 8px 15px 0px #14151D, -6px -6px 15px 0px #303240;
  color: #20222C;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: all 300ms ease-in-out;
}
/* Styles for the scrollbar track (the part the scrollbar sits in) */
::-webkit-scrollbar-track {
  border-radius: 2px;
  background: linear-gradient(90deg, #B97208 0%, #FFD800 100%);
  box-shadow: 3px 3px 6px 0px #010102, -2px -2px 4px 0px #feffff;
  
  overflow: visible;
  /* Track background color */
}

/* Styles for the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #555555 0%, #888888 100%);
  cursor: pointer;/* Thumb background color */
}

/* Handle hover and active states for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, #333333 0%, #555555 100%);  /* Thumb background color on hover */
  cursor: grab !important;
      /* Thumb background color */
}

/* Styles for the scrollbar itself (including width and height) */
::-webkit-scrollbar {
  width: 10px;
  /* Width of the vertical scrollbar */
  height: 10px;
  /* Height of the horizontal scrollbar */
}