/* LottieTreeParser.css */

.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent backdrop */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Ensure it's above other content */
}

.modalContent {
    background-color: #313131;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 80%;
    /* Adjust as needed */
    max-height: 90%;
    /* Adjusted for better modal layout */
    overflow: auto;
    /* Scroll for both horizontal and vertical overflow */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.treeContainer {
    width: 100%;
    /* Full width of the modal content */
    height: 80vh;
    /* Adjust based on your needs */
    overflow: scroll;
    /* Allows scrolling within the tree container if needed */
    padding: 10px;
    box-sizing: border-box;
}
/* Style adjustments for the tree nodes */
.treeNode {
    display: flex;
    flex-direction: column;
}

.nodeLabel {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.toggle {
    width: 20px;
    /* Ensure space for the toggle even if it's not visible */
}

.nodeName,
.nodeDetails {
    margin-left: 5px;
}

.childrenContainer {
    display: flex;
    flex-direction: column;
}

/* Add more styling as needed */