/* PlayerUI.css */
/** general modifiers */
.noSelect {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}
.hidden {
    display: none !important;
}
.icon-large {
    transform: scale(2.5);
    /* Adjust size as needed */
    /* or use transform: scale(1.5); */
}
/*******************************************/
.playbackContainer {
    position:relative;
    margin-top: 20px;
    margin-left: 10px;
    /* margin-bottom: 20px; */
    width: auto;
    height: calc(100% - 160px);
    /* max-height: 100vh; */
    flex-shrink: 0;
    border-radius: 5px;
    border: 0px solid rgba(32, 34, 44, 0.30);
    background: linear-gradient(180deg, #3B3D4B 0%, #272934 100%);
    box-shadow: 8px 8px 15px 0px #14151D, -6px -6px 15px 0px #303240;
    transition: all 300ms ease-in-out;
    color: #FFF;
}
.colorPickerModal {
    position: fixed;
    /* Fixed position */
    top: 50%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    /* Adjust for centering */
    z-index: 100;
    background: #FFF;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px 0px #000000;   
    cursor: pointer;
}
.closeColorPicker{
    margin-top:10px;
    width:100%;
    background: orange;
    font-style: bold;
    font-weight: 600;
    color: #333333;
    border-radius: 5px;
    cursor: pointer;
}
.applyColorPicker{
    margin-top:10px;
    width:100%;
    background:green;
    font-style: bold;
    font-weight: 600;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
.infoOverlay{
    position: absolute;
    display: grid;
    grid-template-columns: auto auto;
    /* Creates two columns: one for labels, one for values */
    gap: 10px;
    /* Space between rows and columns */
    /* Space between items */
    top: 10px;
    /* Adjust as needed */
    right: 10px;
    /* Adjust as needed */
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black */
    color: white;
    /* Text color */
    padding: 15px;
    border-radius: 5px;
    z-index: 10;
    /* Ensure it's above other elements */
    width: 300px;
    /* Adjust based on your preference */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Optional: for better visibility */
    font-size: 0.9em;
    /* Adjust as needed */
}
.progressInfoBox {
    position: absolute;
    display: grid;
    grid-template-columns: auto 70px;
    /* Creates two columns: one for labels, one for values */
    gap: 10px;    bottom: 10px;
    /* Distance from bottom */
    right: 10px;
    /* Distance from right */
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black */
    color: white;
    /* Text color */
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
    font-size: 0.9em;
}
.lottie-container {
    width: 100%;
    height: 100%;
    /* Adjust as needed */
}
.player-controls {
    padding-top:5px;
    display: flex;
    height:100px;
    width:100%;
    justify-content: left;
    align-items: center;
}
.progress-bar-container {
    position: relative;
    width: 200px;
    height: 25px;
    /* Height of the progress bar */
    /* margin-top: 10px; */
    /* Space above the progress bar */
    cursor: pointer;
}
.progress-bar-svg {
    width: 100%;
    height: 8px;
    top: 50%;
    bottom: 50%;
    box-shadow: 3px 3px 6px 0px #14151D, -3px -3px 6px 0px #303240;
}
.progress-bar-handle {
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    /* Center the handle on the progress bar */
    width: 25px;
    /* Handle width */
    height: 25px;
    /* Handle height */
    cursor: grab;
}
.progress-bar-handle:active {
    cursor: grabbing;
}
.markersButton{
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: linear-gradient(180deg, #B97208 0%, #FFD800 100%);
    box-shadow: 8px 8px 15px 0px #14151D, -6px -6px 15px 0px #303240;;
    cursor: pointer;
}
.segmentsButton{
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: linear-gradient(180deg, #B97208 0%, #FFD800 100%);
    box-shadow: 8px 8px 15px 0px #14151D, -6px -6px 15px 0px #303240;;
    cursor: pointer;
}
.colorPickerButton{
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: linear-gradient(180deg, #B97208 0%, #FFD800 100%);
    box-shadow: 8px 8px 15px 0px #14151D, -6px -6px 15px 0px #303240;;
    cursor: pointer;
}
.infoButton {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: linear-gradient(180deg, #B97208 0%, #FFD800 100%);
    box-shadow: 8px 8px 15px 0px #14151D, -6px -6px 15px 0px #303240;
    cursor: pointer;
}
.playBtn {
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-right:30px;
    width: 100px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 5px;
    /* border: 0px solid rgba(32, 34, 44, 0.30); */
    background: linear-gradient(180deg, #B97208 0%, #FFD800 100%);
    box-shadow: 8px 8px 15px 0px #14151D, -6px -6px 15px 0px #303240;
    transition: all 300ms ease-in-out;
    color: #333333;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}
.playBtn:hover,
.playBtn:focus {
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    width: 100px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 5px;
    /* border: 0px solid rgba(32, 34, 44, 0.30); */
    background: linear-gradient(180deg, #B97208 0%, #FFD800 100%);
    box-shadow: 4px 4px 10px 0px #14151D, -3px -3px 10px 0px #303240;
    transition: all 300ms ease-in-out;
    color: #333333;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}
.pauseBtn {
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-right: 30px;
    width: 100px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 5px;
    /* border: 1px solid #1eba06; */
    background: linear-gradient(180deg, #068635 0%, #02471d 100%);;
    box-shadow: 8px 8px 15px 0px #14151D, -6px -6px 15px 0px #303240;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}
.pauseBtn:hover,
.pauseBtn:focus {
    width: 100px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 5px;
    /* border: 1px solid #1eba06; */
    background: linear-gradient(180deg, #068635 0%, #02471d 100%);
    ;
    box-shadow: 4px 4px 10px 0px #14151D, -3px -3px 10px 0px #303240;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: all 300ms ease-in-out;
}
.modalBackdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px; 
    background: rgba(0, 0, 0, 00);
    display: flex;
    justify-content: center;
    align-items: center;
}
.markersModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color:#000000;
    cursor: pointer;
}
.markersTable {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
}
.markersTable th,
.markersTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.markersTable {
    background-color: #f2f2f2;
}
.markersTable tr:hover {
    background-color: #ddd;
}
.markersTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
}
.resetButton{
    margin-top: 10px;
    width: 120px;
    height: 20px;
    justify-content: center;
}
